.bg-animate-gradient {
	min-height: 100vh;
	width: 100%;
	background: var(--bg-gradient);
	background-size: 200%;
	animation: bg-animation 15s ease-in-out infinite alternate;
}

.text-animate-gradient {
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
	background-image: var(--text-gradient);
	background-size: 175%;
	animation: bg-animation 5s ease-in-out infinite alternate;
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
